n8n/workflows/auto-ship.json
{
  "name": "ONZO — Auto Ship Pending Orders",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Every 3 hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.ONZO_API_BASE }}/api/orders/batch-ship",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {
          "timeout": 120000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.ONZO_API_KEY }}"
            }
          ]
        }
      },
      "id": "batch-ship",
      "name": "POST /api/orders/batch-ship",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": [
            {
              "conditions": [
                {
                  "leftValue": "={{ $json.data.shipped }}",
                  "rightValue": 0,
                  "operator": {
                    "type": "number",
                    "operation": "larger"
                  }
                }
              ],
              "renameOutput": true,
              "outputKey": "hasShipped"
            }
          ]
        }
      },
      "id": "check",
      "name": "Shipped > 0?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Shipment Report\n\nShipped: {{ $json.data.shipped }}\nSkipped: {{ $json.data.skipped }}\nFailed: {{ $json.data.failed }}\nTotal: {{ $json.data.total }}",
        "height": 200
      },
      "id": "result",
      "name": "Shipment Report",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "content": "No orders to ship",
        "height": 80
      },
      "id": "none",
      "name": "No Orders",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        850,
        500
      ]
    }
  ],
  "connections": {
    "Every 3 hours": {
      "main": [
        [
          {
            "node": "POST /api/orders/batch-ship",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/orders/batch-ship": {
      "main": [
        [
          {
            "node": "Shipped > 0?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shipped > 0?": {
      "main": [
        [
          {
            "node": "Shipment Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "2.0.0",
  "active": true
}
