n8n/workflows/auto-publish.json
{
  "name": "ONZO — Auto Publish 1688 to Ozon",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 10 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule (every 10 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "http://host.docker.internal:3000/api/task/listings",
        "options": {}
      },
      "id": "fetch-queue-stats",
      "name": "Fetch Queue Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "content": "## 📊 Queue Status\n\nQueued: {{ $json.data.stats.queued }}\nProcessing: {{ $json.data.stats.processing }}\nDone Today: {{ $json.data.stats.done }}\nFailed: {{ $json.data.stats.failed }}",
        "height": 250
      },
      "id": "queue-status-card",
      "name": "Queue Status Card",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "={{ $json['1688_url'] }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"url\": \"={{ $json['1688_url'] }}\"\n}",
        "options": { "timeout": 300000 }
      },
      "id": "call-process-sync",
      "name": "POST /api/process/sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [250, 500]
    },
    {
      "parameters": {
        "content": "Manual: input JSON with `1688_url` field",
        "height": 100
      },
      "id": "manual-input-note",
      "name": "Manual input →",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [50, 490]
    },
    {
      "parameters": {
        "conditions": {
          "options": [
            {
              "conditions": [
                {
                  "leftValue": "={{ $json.success }}",
                  "rightValue": true,
                  "operator": { "type": "boolean", "operation": "equals" }
                }
              ],
              "renameOutput": true,
              "outputKey": "success"
            }
          ]
        }
      },
      "id": "check-result",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 500]
    },
    {
      "parameters": {
        "jsCode": "// Record successful listing to report\nconst item = {\n  draftId: $input.first().json.data.draftId,\n  ozonProductId: $input.first().json.data.ozonProductId,\n  titleRu: $input.first().json.data.titleRu,\n  category: $input.first().json.data.categoryName,\n  priceRub: $input.first().json.data.priceRub,\n  imagesUploaded: $input.first().json.data.imagesUploaded,\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: { ...item, status: 'success' } }];"
      },
      "id": "record-success",
      "name": "Record Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 420]
    },
    {
      "parameters": {
        "jsCode": "// Log failure detail for alerting\nconst error = {\n  code: $input.first().json.error?.code || 'UNKNOWN',\n  message: $input.first().json.error?.message || $input.first().json.message,\n  retryable: $input.first().json.error?.retryable ?? false,\n  details: $input.first().json.errors || [],\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: { ...error, status: 'failed' } }];"
      },
      "id": "record-failure",
      "name": "Record Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 600]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/api/task/failed",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"error\": \"={{ $json }}\",\n  \"source\": \"n8n-auto-publish\"\n}",
        "options": {}
      },
      "id": "notify-failure-service",
      "name": "Notify Failure Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 600]
    },
    {
      "parameters": {
        "content": "## ✅ Published\n\n- Draft: {{ $json.data.draftId }}\n- Title: {{ $json.data.titleRu }}\n- Price: {{ $json.data.priceRub }} RUB",
        "height": 200
      },
      "id": "success-card",
      "name": "Success Card",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [850, 420]
    }
  ],
  "connections": {
    "Schedule (every 10 min)": {
      "main": [[{ "node": "Fetch Queue Stats", "type": "main", "index": 0 }]]
    },
    "Fetch Queue Stats": {
      "main": [[{ "node": "Queue Status Card", "type": "main", "index": 0 }]]
    },
    "POST /api/process/sync": {
      "main": [[{ "node": "Success?", "type": "main", "index": 0 }]]
    },
    "Success?": {
      "main": [
        [{ "node": "Record Success", "type": "main", "index": 0 }],
        [{ "node": "Record Failure", "type": "main", "index": 0 }]
      ]
    },
    "Record Success": {
      "main": [[{ "node": "Success Card", "type": "main", "index": 0 }]]
    },
    "Record Failure": {
      "main": [[{ "node": "Notify Failure Service", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "saveManualExecutions": true
  },
  "versionId": "1.0.0",
  "active": true,
  "description": "Auto-publish: Manual trigger with 1688 URL → Ozon Draft. Schedule monitors queue health."
}
