n8n/workflows/auto-retry-notify.json
{
  "name": "ONZO — Auto Retry Failed Tasks + Telegram Notify",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "minutes", "minutesInterval": 30 }] } },
      "id": "schedule", "name": "Every 30 min",
      "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.1, "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/api/task/deadletter/retry-batch",
        "method": "POST", "sendBody": true, "specifyBody": "json",
        "jsonBody": "{\"filterType\":\"api_error\"}",
        "options": { "timeout": 60000 }
      },
      "id": "retry", "name": "POST /api/task/deadletter/retry-batch",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/api/dashboard",
        "method": "GET", "options": {}
      },
      "id": "dashboard", "name": "GET /api/dashboard",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [450, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TELEGRAM_BOT_TOKEN ? 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' : '' }}",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "{\"chat_id\":\"{{ $env.TELEGRAM_CHAT_ID }}\",\"text\":\"ONZO Report\\nRetried: {{ $node['POST /api/task/deadletter/retry-batch'].json.data.retried }}\\nQueue: {{ $node['GET /api/dashboard'].json.data.queue.queued }}\\nToday: {{ $node['GET /api/dashboard'].json.data.todayListings }}\\nTokens: {{ $node['GET /api/dashboard'].json.data.todayTokens }}\"}"
      },
      "id": "telegram", "name": "Send Telegram Report",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [650, 400]
    },
    {
      "parameters": { "content": "## Auto Retry + Report\nRetried: {{ $json.data.retried }}/{{ $json.data.total }}", "height": 100 },
      "id": "result", "name": "Retry Report",
      "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [850, 400]
    }
  ],
  "connections": {
    "Every 30 min": { "main": [
      [{ "node": "POST /api/task/deadletter/retry-batch", "type": "main", "index": 0 }],
      [{ "node": "GET /api/dashboard", "type": "main", "index": 0 }]
    ]},
    "POST /api/task/deadletter/retry-batch": { "main": [[{ "node": "Send Telegram Report", "type": "main", "index": 0 }]] },
    "GET /api/dashboard": { "main": [[{ "node": "Send Telegram Report", "type": "main", "index": 0 }]] }
  },
  "settings": { "callerPolicy": "workflowsFromSameOwner" }, "versionId": "1.0.0", "active": false
}
