n8n/workflows/multi-store-publish.json
{
  "name": "ONZO — Multi-Store Batch Publish",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Manual Trigger (product JSON)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.ONZO_API_BASE }}/api/stores",
        "method": "GET",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.ONZO_API_KEY }}"
            }
          ]
        }
      },
      "id": "get-stores",
      "name": "GET /api/stores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.ONZO_API_BASE }}/api/stores/batch/listing",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"storeIds\": [\"store-1\",\"store-2\"],\n  \"product\": {}\n}",
        "options": {
          "timeout": 120000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.ONZO_API_KEY }}"
            }
          ]
        }
      },
      "id": "batch-publish",
      "name": "POST /api/stores/batch/listing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Multi-Store Publish\n\nStores: {{ $json.data.valid }}/{{ $json.data.requested }}\nResults: {{ $json.data.results.length }}",
        "height": 150
      },
      "id": "result",
      "name": "Publish Result",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger (product JSON)": {
      "main": [
        [
          {
            "node": "GET /api/stores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /api/stores": {
      "main": [
        [
          {
            "node": "POST /api/stores/batch/listing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/stores/batch/listing": {
      "main": [
        [
          {
            "node": "Publish Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1.0.0",
  "active": false
}
