n8n/workflows/order-sync.json
{
  "name": "ONZO — Order Sync (every 30 min)",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "minutes", "minutesInterval": 30 }] } },
      "id": "schedule",
      "name": "Every 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/api/orders/sync",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": { "timeout": 120000 }
      },
      "id": "sync",
      "name": "POST /api/orders/sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "content": "## Order Sync Complete\n\nFBS: {{ $json.data.fbs }}\nFBO: {{ $json.data.fbo }}\nUpserted: {{ $json.data.upserted }}",
        "height": 150
      },
      "id": "result",
      "name": "Sync Result",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Every 30 min": { "main": [[{ "node": "POST /api/orders/sync", "type": "main", "index": 0 }]] },
    "POST /api/orders/sync": { "main": [[{ "node": "Sync Result", "type": "main", "index": 0 }]] }
  },
  "settings": { "callerPolicy": "workflowsFromSameOwner" },
  "versionId": "1.0.0",
  "active": true
}
