n8n/workflows/phase-1-listing.json
{
  "name": "ONZO Phase 1 — 1688 to Ozon Draft",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "onzo-listing"
    },
    {
      "parameters": {
        "url": "={{ $env.ONZO_API_BASE }}/api/process",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {
          "timeout": 300000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.ONZO_API_KEY }}"
            }
          ]
        }
      },
      "id": "process-1",
      "name": "Full Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": [
            {
              "conditions": [
                {
                  "leftValue": "={{ $json.success }}",
                  "rightValue": true,
                  "operator": {
                    "type": "boolean",
                    "operation": "equals"
                  }
                }
              ],
              "renameOutput": true,
              "outputKey": "success"
            }
          ]
        }
      },
      "id": "if-1",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "content": "## ✅ 上架成功\n\n- **任务ID**: {{ $json.data.taskId }}\n- **商品ID**: {{ $json.data.ozonProductId }}\n- **标题**: {{ $json.data.titleRu }}\n- **类目**: {{ $json.data.categoryName }}\n- **价格**: {{ $json.data.priceRub }} RUB\n- **图片**: {{ $json.data.imagesUploaded }} 张上传成功",
        "height": 300
      },
      "id": "notify-success",
      "name": "Notify Success",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "content": "## ❌ 上架失败\n\n错误: {{ $json.error.message }}\n代码: {{ $json.error.code }}\n可重试: {{ $json.error.retryable }}\n\n查看失败队列: GET /api/failed-tasks",
        "height": 300
      },
      "id": "notify-fail",
      "name": "Notify Failure",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        850,
        500
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Full Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Full Pipeline": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Notify Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1.0.0",
  "active": false
}
