n8n/workflows/price-monitor.json
{
  "name": "ONZO — Price Monitor (daily competitor scan)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Every 24h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.ONZO_API_BASE }}/api/price/scan",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"prices\": []\n}",
        "options": {
          "timeout": 120000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.ONZO_API_KEY }}"
            }
          ]
        }
      },
      "id": "scan",
      "name": "POST /api/price/scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Price Scan Result\n\nScanned: {{ $json.data.scanned }}\nNew: {{ $json.data.newPrices }}\nUpdated: {{ $json.data.updatedPrices }}\nErrors: {{ $json.data.errors.length }}",
        "height": 180
      },
      "id": "result",
      "name": "Scan Report",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    }
  ],
  "connections": {
    "Every 24h": {
      "main": [
        [
          {
            "node": "POST /api/price/scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/price/scan": {
      "main": [
        [
          {
            "node": "Scan Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1.0.0",
  "active": true
}
